# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\curriculum\year 2 sec term\swe\CS251_HW2_ID1_20190139_ID2_20190575_ID3_20190114\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
